@media only screen and (min-width: 200px) and (max-width: 1023px) {
.wrapper {
    flex-direction: column;
    padding: 16px;
    width: fit-content !important;
    gap: 40px;
}

.left {
    height: fit-content !important;
    position: relative !important;
    top: 0 !important;
    max-width: none !important;
}
.pic-name {
    flex-direction: row !important;
    align-items: center;
}
.about-me {
    max-width: fit-content !important;
}

.right {
    max-width: 100% !important;
}
}