* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: 'Roboto';
    line-height: 120%;
}

body {
    background: var(--bg);
}

a {
    text-decoration: none;
    color: var(--link);
}

/* root */
:root {
    --bg: #fff;
    --widget-bg: #f0f0f0;
    --widget-hover: #c0c0c0;
    --text-p: #565656;
    --link: #000;
}

[dark] {
    --bg: #000;
    --widget-bg: #0f0f0f;
    --widget-hover: #3f3f3f;
    --text-p: #a9a9a9;
    --link: #fff;
}